@tailwind base;
@tailwind components;
@tailwind utilities;


.kk input::placeholder{
    font-weight: bolder;
    font-size: larger;
}

body{
    background-image: url('../public/thunder1.jpg');
    background-position:right;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

